input {
    file {
        path => "C:/Users/836548/Documents/vz-training/vz-new-master/vz-new-master/Logs/item-service.log"
	codec => "json"
        type => "item-service"  
    }

    file {
        path => "C:/Users/836548/Documents/vz-training/vz-new-master/vz-new-master/Logs/customer-service.log"
	codec => "json"
        type => "customer-service"  
    }
}

output {
  elasticsearch { hosts => ["localhost:9200"] 
		index => "%{type}-index"}
}
