<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG-LOCATION" value="C:/Users/836548/Documents/vz-training/vz-new-master/vz-new-master/Logs" />

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
            <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
            </jsonFormatter>
            <appendLineSeparator>true</appendLineSeparator>
        </layout>
    </appender>

    <appender name="RollingFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG-LOCATION}/item-service-json.log</file>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <nestedField>
                    <fieldName>Logger Info</fieldName>
                    <providers>
                        <callerData>
                            <classFieldName>classname</classFieldName>
                            <methodFieldName>method</methodFieldName>
                            <fileFieldName>file</fileFieldName>
                            <lineFieldName>line</lineFieldName>
                        </callerData>
                    </providers>
                </nestedField>
<!--                <logstashMarkers/>-->
                <message/>
            </providers>
        </encoder>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG-LOCATION}/archived/item-service-json-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="Console" />
    </root>

    <logger name="com.example.item.controller.ItemController" level="info" > <!--    additivity=false-->
        <appender-ref ref="RollingFile" />
        <appender-ref ref="Console" />
    </logger>

</configuration>