<?xml version="1.0" encoding="UTF-8"?>
<configuration >
    <property name="LOG_LOCATION" value="C:/Users/836548/Documents/vz-training/vz-new-master/vz-new-master/Logs" />
    <property name="LOG_ARCHIVED" value="C:/Users/836548/Documents/vz-training/vz-new-master/vz-new-master/Logs/Archived" />
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <File>/${LOG_LOCATION}/item-service.log</File>
        <append>true</append>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <pattern>
                    <pattern>
                        {
                        "timestamp": "%date{\"yyyy-MM-dd'T'HH:mm:ss,SSSXXX\", UTC}",
                        "level": "%level",
                        "logger": "%logger",
                        "message": "%message"
                        }
                    </pattern>
                </pattern>
<!--                <timestamp>-->
<!--                    <timeZone>UTC</timeZone>-->
<!--                </timestamp>-->
                <nestedField>
                    <fieldName>Logger Info</fieldName>
                    <providers>
                        <callerData>
                            <classFieldName>classname</classFieldName>
                            <methodFieldName>method</methodFieldName>
                            <fileFieldName>file</fileFieldName>
                            <lineFieldName>line</lineFieldName>
                        </callerData>
                    </providers>
                </nestedField>

<!--                <message/>-->

            </providers>
        </encoder>
    </appender>

    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_LOCATION}/item-service.log</file>
    <append>true</append>
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
        <providers>
            <pattern>
                <pattern>
                    {
                    "timestamp": "%date{\"yyyy-MM-dd'T'HH:mm:ss,SSSXXX\", UTC}",
                    "level": "%level",
                    "logger": "%logger",
                    "message": "%message"
                    }
                </pattern>
            </pattern>
            <nestedField>
                <fieldName>Logger Info</fieldName>
                <providers>
                    <callerData>
                        <classFieldName>classname</classFieldName>
                        <methodFieldName>method</methodFieldName>
                        <fileFieldName>file</fileFieldName>
                        <lineFieldName>line</lineFieldName>
                    </callerData>
                </providers>
            </nestedField>
        </providers>
    </encoder>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>${LOG_LOCATION}/Archived/item-service-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <logger name="com.example.item.controller.ItemController" level="INFO" >
<!--        <appender-ref ref="FILE" />-->
        <appender-ref ref="RollingFile" />
        <appender-ref ref="CONSOLE" />
    </logger>

    <root level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </root>
    <!-- Application logs at trace level -->
</configuration>